{% extends 'base.html.twig' %}

{% block title %}administration des livres{% endblock %}

{% block body %}
        <a class='btn btn-primary' href="{{ path('app_admin_book_new') }}">Enregistrer un nouveau livre</a>
<ul>
{% for livre in livres %}
    <li><a href='{{path('app_admin_book_show',{"id":livre.id})}}'>{{livre.titre}}</a></li>
{% endfor %}
</ul>
{% endblock %}
